.eventbox { 
   height: 80px;
   padding: 8px 11px 8px 11px;
   border-top: 1px solid gray;
   overflow: hidden;
   margin-bottom: -1px;
   border-bottom: 1px solid gray;
}

h1.eventbox_text {
   color: #000000;
   font-weight: bolder;
   font-size: 2em;
   padding: 0;
   margin: 0;
}

h2.eventbox_text {
   color: #000000;
   font-weight: bolder;
   font-size: 1.2em;
   padding: 0;
   margin: 0;
}

.timer {
   font-weight: bolder;
   font-size: 2.5em;
   padding: 0;
   margin: 0;
}

.notification {
   line-height: 4em;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   margin-bottom: -1px;
   overflow: hidden;
   background-color: #EEEEEE;
   text-align: center;
}

.notification:hover {
   background-color: #DDDDDD;
}

.noevents {
   line-height: 6em;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   margin-bottom: -1px;
   overflow: hidden;
   text-align: center;
}




